<div class="game-container">
  <div id="game_form">
    <table>
      <tr>
        <th></th>
        <th>Original</th>
        <th>Edit</th>
      </tr>
      <%= form_with(model: @game) do |f| %>
        <tr>
          <th><%= f.label :title %></th>
          <td><%= @game[:title] %></td>
          <td><%= f.text_field :title, required: true %></td>
        </tr>
        <tr>
          <th><%= f.label :company %></th>
          <td><%= @game[:company] %></td>
          <td><%= f.text_field :company, required: true%></td>
        </tr>
        <tr>
          <th><%= f.label :quantity_total %></th>
          <td><%= @game[:quantity_total] %></td>
          <td><%= f.number_field :quantity_total %></td>
        </tr>
        <tr><td colspan="3"><%= f.submit %></td></tr>
      <% end %>
    </table>
  </div>
</div>