<script>
  var gametitle

  //Make a GET request to the collector to pull Title/Company/Quantity for the selected game title

  $(document).ready(function(){
    $('#library_title').change(function() {
      gametitle = $('#library_title').val()
      console.log("Test");

      $.ajax ({
        url: "list_game/" + gametitle,
        dataType: 'JSON',
        data:
          $(this).val(),
        success: function(data){
          $('.display_title').html(data[0].title);
          $('.display_company').html(data[0].company);
          $('.display_quantity').html(data[0].quantity_total);
        }
      });
    });

  });

</script>

<h1>Game Library</h1>

<%= render "shared/header" %>

<div id="library_notice"><%= notice %></div>

<%= form_tag do %>
  Game:
  <%= collection_select :library, :title, Inventory.all, :title, :game_selection, options = {include_blank: "Select a game title"} %>
  <br><br>
  <div id="badge_entry">
    <%= collection_select :library, :badge, Participant.all, :badge, :badge_selection, prompt: "Enter badge" %>
  </div>
  <div class="button"><button>Check-out</button>
  <button>Check-in</button></div>
  <br>
<%end%>

<h3>Game Information:</h3>
<div class="table"><table>
  <tr>
    <th>Title</th>
    <th>Company</th>
    <th>Total Quantity</th>
  </tr>
  <tr>
    <td class="display_title"></td>
    <td class="display_company"></td>
    <td class="display_quantity"></td>
  </tr>
</table></div><br>

<h3>Game Schedule:</h3>
<div class="table"><table>
  <tr>
    <th>Start Time</th>
    <th>Location</th>
    <th>GM</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table></div><br>

<h3>Checkout/in History:</h3>
<div class="table"><table>
  <tr>
    <th>Check-out Time</th>
    <th>Check-in Time</th>
    <th>Badge Info</th>
    <th>Quantity</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table><div class="table">