<script>
  //Make a GET request to the collector to pull Title/Company/Quantity for the selected game title

  var gametitle

  $(document).ready(function(){

    $('#dialog_memberinfo').dialog({
      autoOpen: false,
      modal: true,
      height: "auto",
      width: "auto"
    });

    $('#library_inventory_id').change(function() {
      // Update game id
      gametitle = $('#library_inventory_id').val()

      $.ajax ({
        url: "list_game/" + gametitle,
        dataType: 'JSON',
        success: function(data){
          // Clear out Game Info table except for header
          if ($('.display_game > tbody')[0].childElementCount > 1) {
            $('.display_game > tbody > tr:last').empty()
          };
          // Add Game Info
          $('.display_game > tbody:last').append('<tr><td>' + data.inventory.title + '</td><td>' + data.inventory.company + '</td><td>' + data.inventory.quantity_total + '</td></tr>');
          //Clear out game schedule except for header
          if ($('.display_schedule > tbody')[0].childElementCount > 1) {
            $('.display_schedule').find("tr:gt(0)").empty()
          };
          // Add Game Schedule
          $.each ( $(data.schedule), function (i) {
            $('.display_schedule > tbody:last').append('<tr><td class="game_start">' + data.schedule[i].start + '</td><td>' + data.schedule[i].location + '</td><td>' + data.staff[i] + '</td></tr>' );
          });
          // Clear out game log except for header
          if ($('.display_logs > tbody')[0].childElementCount > 1) {
            var test = $('.display_logs > tbody > tr').length;
            for (i = 1; i < (test);i++) {
              $('.display_logs > tbody > tr:last').remove()
            }
          };
          // Find quantity left based on log data
          $('#library_quantity_left').val(data.logs.reverse()[0]["quantity_left"]);
          // Add Library logs
          $.each ( $(data.logs), function (i) {
            $('.display_logs').append('<tr><td>' + data.logs[i].checked_out + '</td><td>' + data.logs[i].checked_in + '</td><td><a href="javascript:void(0)" id="find_member">' + data.logs[i].participant_id + '</a></td><td>' + data.logs[i].quantity_left);
          });
          // Show member information
          $("a#find_member").click(function(){
            var badge_id = $(this)[0].innerHTML;

            $.ajax ({
              url: "list_member/" + badge_id,
              dataType: 'JSON',
              success: function(data){
                // Open modal window
                $('#dialog_memberinfo').dialog( "open" );
                // Clear out member info except for header
                if ($('.contact_info > tbody')[0].childElementCount > 1) {
                  $('.contact_info').find("tr:gt(0)").empty()
                };
                // Add member info
                $('.contact_info > tbody:last').append('<tr><td>' + data.member[0].name + '</td><td>' + data.member[0].phone + '</td><td>' + data.member[0].email + '</td><td>' + data.member[0].pref + '</td></tr>');
              }
            });
          });
        }
      });
    });
  });

</script>
<div class="library-container">
  <div id="library_form">
    <%= form_with(url: game_library_index_path, scope: :library) do |f| %>
      <div id="game"><%= f.label :inventory_id, "Game:" %>
      <%= f.collection_select :inventory_id, Inventory.all, :id, :game_selection, {prompt: true}, {required: true} %></div><br>
      <div id="badge"><%= f.label :participant_id, "Select badge:" %>
      <%= f.collection_select :participant_id, Participant.all, :id, :badge_selection, {prompt: true}, {required: true} %></div>
      <%= f.hidden_field :checked_out, value: Time.now %>
      <%= f.hidden_field :checked_in, value: Time.now %>
      <%= f.hidden_field :quantity_left %>
      <%= f.hidden_field :event_id, value: (@event_info[0]["id"]) %>
      <br>
      <%= f.submit "Check Out" %>
      <%= f.submit "Check In", name: 'checkin_game', method: 'check_in' %>
    <% end %>

    <h3>Game Information:</h3>
    <div class="table"><table class="display_game">
      <tr>
        <th>Title</th>
        <th>Company</th>
        <th>Total Quantity</th>
      </tr>
    </table></div><br>

    <h3>Game Schedule:</h3>
    <div class="table"><table class="display_schedule">
      <tr>
        <th>Start Time</th>
        <th>Location</th>
        <th>GM</th>
      </tr>
    </table></div><br>

    <h3>Checkout/in History:</h3>
    <div class="table"><table class="display_logs">
      <tr>
        <th>Check-out Time</th>
        <th>Check-in Time</th>
        <th>Participant Name</th>
        <th>Quantity</th>
      </tr>
    </table></div><br>
  </div>
</div>

  <div id="dialog_memberinfo" title="Participant Information">
    <table class="contact_info">
      <tr>
        <th>Participant Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Preference</th>
      </tr>
    </table>
  </div>

<div style="display: none;">
  TODO List:
    Add schedule check to add warning about games that are about to be demo'd.
</div>