<script>

  $(document).ready(function(){
    $("input[type=radio]").change(function (e) {
      $("#true, #false").removeClass("selected");
      $("#" + $(e.currentTarget).val()).addClass("selected");
    });
  });

</script>
<section>
<%= form_with url: participants_path, model: @participant, class: "grid-container", id: "member_submit" do |form| %>
  <div class="member_info">Badge: <%= form.number_field "member[badge]", {required: true} %></div><br>
  <div class="member_info">Name: <%= form.text_field "member[name]", {required: true} %></div><br>
  <div class="member_info">Phone: <%= form.telephone_field "member[phone]" %></div><br>
  <div class="member_info">Email: <%= form.text_field "member[email]" %></div><br>
  <div class="member_info">Preference: <%= form.select "member[pref]", ["Text", "Call", "Email"] %></div><br>
  <div class="member_info">Proxy Info: Yes<%= form.radio_button "member[proxy]", :true %>
  No<%= form.radio_button "member[proxy]", :false %></div>

  <div id="false"></div>
  <div id="true" class="member_info">
    Enter Proxy's Information<br><br>
    Badge: <%= form.number_field "member[p_badge]" %><br><br>
    Name: <%= form.text_field "member[p_name]" %><br><br>
    Phone: <%= form.number_field "member[p_phone]" %><br><br>
    Email: <%= form.text_field "member[p_email]" %><br><br>
    Preference: <%= form.select "member[p_pref]", ["Call","Text","Email"] %>
  </div>


<% end %>
</section>