<header>
  <div class="header_container">
    <%= button_to "Add Participant", participants_path, method: :get %>
    <%= button_to "Add Game Log", game_logs_path, method: :get %>
    <%= link_to (image_tag "PAW-Logo.jpg", id: "menu_img"), welcome_index_path %>
    <%= button_to "Library", game_library_index_path, method: :get %>
    <%= button_to "Winner Circle", winner_circle_index_path, method: :get %>
  </div>
  <div class="info_container">
  <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <br>
  Event: <%= @event_info[0]["event_code"] %>
  <br>
  <% if session[:user_id] != nil %>
    <%= "User: #{session[:user_name]}" %>
  <% else %>
    <%= "You are not currently logged in." %>
  <% end %>
  </div>
</header>