<header>
  <%= image_tag "PAW-Logo.jpg", id: "menu_img" %>
  <div id="program">
    Play and Win
  </div>
  <nav id="pages">
    <%= link_to "Add Participant", new_participant_path %>
    <%= link_to "Add Game Log", new_game_log_path %>
    <%= link_to "Library", game_library_index_path %>
  </nav>
  <nav id="default">
    <ul class="top-level-menu">
    <li>
      <%= link_to "Home", welcome_index_path %>
    </li>
    <li>
      <% if session[:user_id] != nil %>
        <%= link_to "Logout", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Login", login_path %>
      <% end %>
    </li>
    <li>
      <a href="#">Admin</a>
      <ul class="second-level-menu">
        <li>
          <a href="#">Staff Management</a>
          <ul class="third-level-menu">
            <li><a href="#">PAW Staff</a></li>
            <li><a href="#">Con Staff</a></li>
          </ul>
        </li>
        <li><a href="#">Inventory</a></li>
      </ul>
    </li>
    </ul>
  </nav>
  <div id="event_code">
    Event: <%= @event_info[0]["event_code"] %>
  </div>
  <div id="username">
    <% if session[:user_id] != nil %>
      <%= "User: #{session[:user_name]}" %>
    <% else %>
      <%= "You are not currently logged in." %>
    <% end %>
  </div>
</header>