
<script type="text/javascript">

</script>

<%= image_tag ("PAW-Logo.jpg")%>

<%= button_tag ("Add Paricipant")%>
<%= button_tag ("Library")%>
<%= button_tag ("Add Game Log")%>
<%= button_tag ("Winner's Circle")%>

<%= form_tag do %>
  Badge: <%= number_field_tag(:badge)%><br>
  Name: <%= text_field_tag(:name)%><br>
  Phone: <%= number_field_tag(:phone)%><br>
  Email: <%= text_field_tag(:email)%><br>
  Preference: <%= select_tag(:pref, options_for_select(["Call","Text","Email"], "Text"))%><br>
  Proxy: Yes <%= radio_button_tag(:proxy, "yes", "proxy") %>
  No <%= radio_button_tag(:proxy, "no", "proxy") %><br>

<% end %>

<div id="proxy_info">
<%= form_tag do %>
  Enter Proxy's information:<br><br>

  Badge: <%= number_field_tag(:p_badge)%><br>
  Name: <%= text_field_tag(:p_name)%><br>
  Phone: <%= number_field_tag(:p_phone)%><br>
  Email: <%= text_field_tag(:p_email)%><br>
  Preference: <%= select_tag(:p_pref, options_for_select(["Call","Text","Email"], "Text"))%><br>

<% end %>

<%= submit_tag ("Add participant") %>
</div>