<h1>Welcome</h1>

<%= render "shared/header" %>

<div class="grid-container">
  <div class="grid-item-1"></div>
  <div class="grid-item-5"></div>

  <div class="grid-item-2">
    <section>
      <h1>Administrative Tasks</h1>
      <br><br>
      <div id="admin_buttons">
        <%= button_to "Login", login_path, method: :get %>
        <%= button_to "Add Staff", paw_staffs_path, method: :get %>
        <br>
        <%= button_to "Check Members", participants_total_url, method: :get %>
        <%= button_to "Check Inventory", inventory_index_url, method: :get %>
        <br>
        <%= button_to "Check Logs", game_logs_total_url, method: :get %>
        <%= button_to "Set Event", events_url, method: :get %>
      </div>
    </section>
  </div>

  <div class="grid-item-3">
    <article>
      <h1>PAW Information</h1>
      <br><br>
      <div id="info_buttons">
        <%= button_to "Game Schedule", schedule_index_url, method: :get %>
        <%= button_to "PAW Staff List", staff_total_path, method: :get %>
        <br>
        <%= button_to "PAW Rules & Guidelines", rules_url, method: :get %>
        <%= button_to "Event Staff", con_staff_index_url, method: :get %>
      </div>
    </article>
  </div>

  <div class="grid-item-4">
    <aside>
      <h1>USER IS A NERD</h1>
      <br><br>
      <h1>USER IS A NERD</h1>
      <br><br>
      <h1>USER IS A NERD</h1>
      <br><br>
      <h1>USER IS A NERD</h1>
    </aside>
</div>