<script>
  $(document).ready(function(){
$("input[type=radio]").change(function (e) {
    $("#yes, #no").removeClass("selected");
    $("#" + $(e.currentTarget).val()).addClass("selected");
});
});
</script>

<div class="home">

<div class="left" id="members">
<%= link_to participants_path do %>
  <button class="welcome_button">Add Participant</button><br>
<% end %>
<br>
<%= link_to game_logs_path do %>
  <button class="welcome_button" id="logs">Add Game Log</button>
<% end %>
</div>

<%= image_tag ("PAW-Logo.jpg")%><br>

<div class="right" id="library">
<%= link_to game_library_index_path do %>
  <button class="welcome_button">Library</button><br>
<% end %>
<br>
<%= link_to winner_circle_index_path do %>
  <button class="welcome_button" id="winners">Winner Circle</button>
<% end %>
</div>

</div>
<br>

