<div class="grid-container">
  <div class="grid-item-2">
    <section>
      <h1>Administrative Tasks</h1>
      <br><br>
      <div id="admin_buttons">
        <% if session[:user_id] != nil %>
          <%= button_to "Logout", logout_path, method: :delete %>
        <% else %>
          <%= button_to "Login", login_path, method: :get, class: "btn" %>
        <% end %>
        <%= button_to "Add Staff", paw_staffs_path, method: :get, class: "btn" %>
        <br>
        <%= button_to "Check Members", participants_path, method: :get, class: "btn" %>
        <%= button_to "Check Inventory", inventories_path, method: :get, class: "btn" %>
        <br>
        <%= button_to "Check Logs", game_logs_path, method: :get, class: "btn" %>
        <%= button_to "Set Event", events_path, method: :get, class: "btn" %>
      </div>
    </section>
  </div>

  <div class="grid-item-3">
    <article>
      <h1>PAW Information</h1>
      <br><br>
      <div id="info_buttons">
        <%= button_to "Game Schedule", schedules_path, method: :get, class: "btn" %>
        <%= button_to "PAW Staff List", paw_staffs_path, method: :get, class: "btn" %>
        <br>
        <%= button_to "PAW Rules & Guidelines", rules_url, method: :get, class: "btn" %>
        <%= button_to "Event Staff", con_staffs_path, method: :get, class: "btn" %>
      </div>
    </article>
  </div>

  <div class="grid-item-4">
    <aside>
      <h3>How to use this website:</h3>
      <dl class="welcome_info">
        <dt><h4>Home page:</h4></dt>
          <dd>
            To return to this homepage, simply press the Play and Win (PAW) logo in the top center of the webpage.
          </dd>
        <dt><h4>Register participants:</h4></dt>
          <dd>
            To register a convention member for participation in the PAW program, go to "Add Participant" in the navigation header.<br>
            <p class="future_feature">Future feature: registered vs non-registered participants</p>
          </dd>
        <dt><h4>Add game log:</h4></dt>
          <dd>
            Player submitted game logs can be recorded by going to "Add Game Log" in the navigation header. Single entry game logs are not accepted. <i>If the game was demoed by a PAW Game Master (GM) and only one person attended, add the PAW GM to validate game log.</i>
          </dd>
        <dt><h4>PAW Library:</h4></dt>
          <dd>
            The PAW Library is separate from the convention library. Be sure that all PAW game copies have a PAW logo sticker. Members that have registered may check out PAW games. Go to "Library" to check in/out games. <i>All games must be checked in/out, even when being demoed by a PAW GM.</i>
          </dd>
        <dt><h4>Winner Circle:</h4></dt>
          <dd>
            At the end of the event, PAW runs a last event called "Winner Circle" to pass out the games that were won. While this page can be accessed and used at any time, it should only be used during the Winner Circle.
          </dd>
      </dl>
    </aside>
</div>