<%= form_with(model: con_staff, local: true) do |form| %>
  <% if con_staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(con_staff.errors.count, "error") %> prohibited this con_staff from being saved:</h2>

      <ul>
      <% con_staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.collection_select :event_id, Event.all, :id, :event_selection, prompt: true, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
