<article class="sing-col-sm">
  <h1>Editing Con Staff</h1>
    <table>
      <tr>
        <th></th>
        <th>Original</th>
        <th>Edit</th>
      </tr>
      <%= form_with(model: @con_staff) do |f| %>
        <tr>
          <th><%= f.label :name %></th>
          <td><%= @con_staff[:name] %></td>
          <td><%= f.text_field :name, required: true %></td>
        </tr>
        <tr>
          <th><%= f.label :title %></th>
          <td><%= @con_staff[:title] %></td>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <th><%= f.label :phone %></th>
          <td><%= @con_staff[:phone] %></td>
          <td><%= f.phone_field :phone %></td>
        </tr>
        <tr>
          <th><%= f.label :email %></th>
          <td><%= @con_staff[:email] %></td>
          <td><%= f.email_field :email %></td>
        </tr>
        <tr>
          <th><%= f.label :event_id %></th>
          <td><%= @con_staff[:event_id] %></td>
          <td><%= f.collection_select :event_id, Event.all, :id, :event_selection, {prompt: true}, {required: true} %></td>
        </tr>
        <tr><td colspan="3"><%= f.submit %></td></tr>
      <% end %>
    </table>

    <%= link_to 'Back', con_staffs_path %>
</article>