<h1>Winner Circle</h1>

<header>
  <div class="header_container">
    <div class="header_button" id="left_header">
      <%= link_to participants_path do %>
        <button>Add Participant</button>
      <% end %>
      <%= link_to game_logs_path do %>
        <button>Add Game Log</button>
      <% end %>
    </div>
    <%= link_to welcome_index_path do %>
      <%= image_tag "PAW-Logo.jpg", id: "menu_img" %>
    <% end %>
    <div class="header_button" id="right_header">
      <%= link_to game_library_index_path do %>
        <button>Library</button>
      <% end %>
      <%= link_to winner_circle_index_path do %>
        <button>Winner Circle</button>
      <% end %>
    </div>
  </div>
</header>

<table>
  <tr>
    <td>
      <h4>Game Title:</h4>
      <div class="game_title">Sample Title</div>
      <h4>Winner:</h4>
        <ul>
          <li>Badge: 12345</li>
          <li>Name: Greg George</li>
          <li>Contact: 555.555.5555</li>
          <li>Preference: Text</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge: 54321</li>
          <li>Name: George Greg</li>
          <li>Contact: 555.555.5551</li>
          <li>Preference: Call</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
  </tr>
  <tr>
  </tr>
  <tr>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
  </tr>
</table>