<script>
  $(document).ready(function(){
    $('#pick_winners').click(function(){
      for (i = 0; i < $('.redraw_error').length; i++) {
        if ($('.redraw_error')[i].innerHTML != "") {
          $('.redraw_error')[i].innerHTML = "";
        }
      }

      $.ajax ({
        url: "show_winners/",
        dataType: 'JSON',
        success: function(data){
          console.log(data);

          for (i = 1; i <= (Object.entries(data.winners).length); i++) {
            if (data.winners[i] != "No entry") {
              $('[id$="_' + (i) + '"] > #winner_list').append('<li>Badge: ' + data.winners[i]["badge"] + '</li><li>Name: ' + data.winners[i]["name"] + '</li><li>Phone: ' + data.winners[i]["phone"] + '</li><li>Email: ' + data.winners[i]["email"] + '</li><li>Preference: ' + data.winners[i]["pref"] + '</li><li>Rating: ' + data.winners[i]["rating"] + '</li>');
              if (data.winners[i]["proxy"] == true) {
                $('[id$="_' + i + '"] > #proxy_list').append('<li>Badge: ' + data.winners[i]["p_badge"] + '</li><li>Name: ' + data.winners[i]["p_name"] + '</li><li>Phone: ' + data.winners[i]["p_phone"] + '</li><li>Email: ' + data.winners[i]["p_email"] + '</li><li>Preference: ' + data.winners[i]["p_pref"] + '</li>');
              }
            } else {
              $('[id$="_' + (i) + '"] > #winner_list').append('<li>No entries logged for this title.</li>');
            };

            $('#submit_' + i).attr('id', 'badge_' + data.winners[i]["badge"]);
          }
        }
      });
    });

    $('.redraw').click(function(){
      var title_id = this.closest('button').name.split('_')[1];
      if ((this.closest('button').id.split('_')[0]) == "submit"){
        $('.redraw_error')[title_id - 1].innerHTML = "Please press the 'Pick the Winners' button first.";
      }
      else {
      var badge_id = this.closest('button').id.split('_')[1];

      $.ajax ({
        url: "redraw/",
        data: { badge_id: badge_id, title_id: title_id },
        dataType: 'JSON',
        success: function(data){
          if (Object.keys(data) == "error"){
            console.log(data);
            $('.redraw_error')[title_id - 1].innerHTML = data.error;
          } else
            console.log(data);
          }
      });
      }
    });
  });
</script>

<h1>Winner Circle</h1>

<%= render "shared/header" %>

<button id="pick_winners">Pick the Winners!</button>

<table>
  <% Inventory.all.each_slice(4) do |rows| %>
    <tr>
      <% rows.each do |cells| %>
        <td id='<%= "#{cells.title}" %>_<%= "#{cells.id}" %>'>
          <div class="redraw_error"></div>
          <h4>Game Title:</h4>
          <div class="game_title"><%= "#{cells.title}" %></div>
          <h4>Winner:</h4>
          <ul id='winner_list'>
          </ul>
          <h4>Proxy info:</h4>
          <ul id='proxy_list'>
          </ul>
          <button class="redraw" id='submit_<%= "#{cells.id}" %>' name='inventory_<%= "#{cells.id}" %>'>Redraw</button><br><br>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>