
  <article class="sing-col-sm">
    <table>
      <tr>
        <th>Title</th>
        <th>Timestamp</th>
        <th>Participant</th>
        <th>Rating</th>
        <% if session[:user_name] == "admin" %>
          <th></th>
        <% end %>
      </tr>
      <% @logs.each do |v| %>
        <tr>
          <td class="title"><%= v[:title] %></td>
          <td class="timestamp"><%= v[:timestamp] %></td>
          <td><%= v[:member] %></td>
          <td><%= v[:rating] %></td>
          <% if session[:user_name] == "admin" %>
            <td>
              <%= link_to "Edit", edit_game_log_url(v), method: :get %>
              <%= link_to "Delete", game_log_path(v), method: :delete,
                                       data: { confirm: "Are you sure?" } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <br><br>

    <%= button_to "Add Game Log", game_logs_path, method: :get %>

  </article>
