<script>
  $(document).ready(function() {
    $('#dialog_addmember').dialog({
      autoOpen: false,
      modal: true,
      buttons: [
        {
          text: "Add non-registered Participant",
          click: function() {
            if ($("form#member_submit")[0].checkValidity()) {
              $(this).submit();
              alert($("form#member_submit > div > input")[0].value + " has been added.");
              $(this).dialog("close");
            } else {
              alert("Please ensure both badge and name are provided.");
            }
          }
        }
      ]
    });

    $('.column_badge > input').change(function () {
      //Modal box

      $.ajax ({
        url: "check_entry/" + $(this)[0].value,
        dataType: 'JSON',
        error: function(data) {
          /* Manual redirect to Participants view
          var check_badge = confirm("Badge " + data.responseJSON.badge_info + " must be added before proceeding");
          if (check_badge == true) {
            window.location.href = "/participants";
          }*/

          $('#dialog_addmember').dialog( "open" );
        }
      });
    });
  });
</script>

<h1>Game Logs</h1>

<%= render "shared/header" %>

<div id="log_notice"><%= notice %></div>

<%= form_tag "", :id => "log_submit", data: { type: :json } do %>
  Game Title:<%= collection_select :entry, :inventory_id, Inventory.all, :id, :game_selection, prompt: "Select a game title" %><br>
  Time logged:<%= datetime_select "entry", "timestamp", :default => Time.now, ampm: true %><br>
<br>
  <table class="log_entry">
    <tr>
    <td></td>
    <td id="badge_header">Badge ID</td>
    <td id="rating_header">Rating</td>
    </tr>
      <!-- 12 Entry fields -->
      <% for i in 1..12 do %>
        <tr>
        <td class="column_row">Entry <%= "#{i}" %>:</td>
        <td class="column_badge"><%= number_field_tag("entry[badge_#{i}]")%></td>
        <td class="column_rating">
          <%= radio_button_tag("entry[rating_#{i}]", "1") %> 1
          <%= radio_button_tag("entry[rating_#{i}]", "2") %> 2
          <%= radio_button_tag("entry[rating_#{i}]", "3") %> 3
          <%= radio_button_tag("entry[rating_#{i}]", "4") %> 4
          <%= radio_button_tag("entry[rating_#{i}]", "5") %> 5
        </td>
        </tr>
      <% end %>
  </table>
  <%= submit_tag ("Add game log") %>
<% end %>

<div id="dialog_addmember" title="Add non-registered Participant">
  <%= render "shared/addmember" %>
</div>