<script>
  $(document).ready(function() {
    $('[name="badge_0"]').prop('required',true);

    $('#dialog_addmember').dialog({
      autoOpen: false,
      modal: true,
      buttons: [
        {
          text: "Add non-registered Participant",
          click: function() {
            if ($("form#member_submit")[0].checkValidity()) {
              $("form#member_submit").submit();
              alert($("form#member_submit > div > input")[0].value + " has been added.");
              $(this).dialog("close");
            } else {
              alert("Please ensure both badge and name are provided.");
            }
          }
        }
      ]
    });

    $('.column_badge').change(function () {
      console.log($(this).val());
      //Modal box

      $.ajax ({
        url: "check_entry/" + $(this)[0].value,
        dataType: 'JSON',
        error: function(data) {
          $('#dialog_addmember').dialog( "open" );
        }
      })
    });
  });
</script>

<div class="log-container">
  <div id="log_form">
    <%= form_with(url: game_logs_path) do |f| %>
      <div id="game_header"><%= f.label :inventory_id, "Game Title: " %>
      <%= f.collection_select :inventory_id, Inventory.all, :id, :game_selection, {prompt: true}, {required: true} %></div><br>
      <div id="detail_header"><%= f.label :timestamp, "Timestamp:" %>
      <%= f.datetime_select :timestamp, ampm: true, default: Time.now %>
      <%= f.hidden_field :event_id, value: (@event_info[0]["id"]) %></div>
      <br><br>
      <table>
        <tr>
          <th class="entry"></th>
          <th>Badge ID</th>
          <th>Rating</th>
        </tr>
        <% 12.times do |e| %>
          <tr>
            <td class="entry"><%= "Entry #{e + 1}" %></td>
            <td><div class="badge"><%= f.number_field :badge_id, name: "badge_#{e}", class: "column_badge" %></div></td>
            <td><div class="rating">
            <% 5.times do |r| %>
                <%= "#{r + 1}" %>
                <%= f.radio_button "rating_#{e}", (r + 1) %>
            <% end %>
            </div></td>
          </tr>
        <% end %>
      </table>
      <%= f.submit %>
    <% end %>

    <div id="dialog_addmember" title="Add non-registered Participant">
      <div class="log-container">
        <div id="log_form">
          <%= render "shared/addmember" %>
        </div>
      </div>
    </div>
  </div>

  <div class="todo_list">
    Issues:
    <ul>
      <li>No validation on badge before submit; breaks website</li>
      <li>Timestamp is not local</li>
    </ul><br>
    Features:
    <ul>
      <li>Confirm valid badge</li>
      <li>Do not submit form unless two or more entries</li>
    </ul>
  </div>
</div>