<div class="staff-container">
  <div id="staff_form">
    <table>
      <tr>
        <th></th>
        <th>Original</th>
        <th>Edit</th>
      </tr>
      <%= form_with(model: @staff) do |f| %>
        <tr>
          <th><%= f.label :name %></th>
          <td><%= @staff[:name] %>
          <td><%= f.text_field :name, required: true %></td>
        </tr>
        <tr>
          <th><%= f.label :badge %></th>
          <td><%= @staff[:badge] %>
          <td><%= f.number_field :badge %></td>
        </tr>
        <tr>
          <th><%= f.label :phone %></th>
          <td><%= @staff[:phone] %>
          <td><%= f.phone_field :phone %></td>
        </tr>
        <tr>
          <th><%= f.label :email %></th>
          <td><%= @staff[:email] %>
          <td><%= f.email_field :email %></td>
        </tr>
        <tr>
          <th><%= f.label :title %></th>
          <td><%= @staff[:title] %>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <th><%= f.label :role %></th>
          <td><%= @staff[:role] %>
          <td><%= f.text_field :role %></td>
        </tr>
        <tr><td colspan="3"><%= f.submit %></td></tr>
      <% end %>
    </table>
  </div>
</div>