<div class="staff-container">
  <div id="staff_form">
    <h3>PAW Staff Information</h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Badge</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Title</th>
        <th>Role</th>
        <% if session[:user_name] == "admin" %>
        <th></th>
        <% end %>
      </tr>
      <% @staff.each do |s| %>
        <tr>
          <td><%= s[:name] %> </td>
          <td><%= s[:badge] %></td>
          <td><%= s[:phone] ||= "NA" %></td>
          <td><%= s[:email] ||= "NA" %></td>
          <td><%= s[:title] ||= "NA" %></td>
          <td><%= s[:role] ||= "NA" %></td>
          <% if session[:user_name] == "admin" %>
          <td>
            <%= link_to 'Edit', edit_paw_staff_path(s), method: :get %>
            <%= link_to 'Delete', s, method: :delete,
                                    data: { confirm: "Are you sure?" } %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <br>
    <% if session[:user_name] == "admin" %>
      <%= button_to "Add staff", new_paw_staff_path, method: :get %>
    <% end %>
  </div>
</div>